#!/usr/bin/make -f

%:
	PATH=$(PREFIX)/bin:$(PATH) \
	    dh $@

BUILD_BASE = build
PREFIX_BASE = /opt/riscv

PWD := $(shell pwd)
PKGVER := $(shell head -1 PKGVERSION)

PROJ_LIST   ?= riscv64-gcc riscv64-linux-glibc-gcc riscv64-linux-musl-gcc
TARGET_LIST ?= riscv64-unknown-elf riscv64-unknown-linux-gnu riscv64-unknown-linux-musl

OPTS_GCC = \
	--enable-multilib \
	--disable-shared \
	--disable-threads \
	--with-native-system-header-dir=/include \
	--with-newlib

OPTS_GLIBC_GCC = \
	--enable-multilib \
	--enable-shared \
	--enable-threads

OPTS_MUSL_GCC = \
	--disable-multilib \
	--enable-shared \
	--enable-threads \
	--with-headers=$(SYSROOT)/usr/include

BUILD   = $(BUILD_BASE)_$(PROJ)
PREFIX  = $(PREFIX_BASE)
SYSROOT = $(PREFIX_BASE)/$(TARGET)/sysroot
DEST    = $(PWD)/debian/$(PROJ)
DESTPRE = $(DEST)/$(PREFIX)
DESTSYS = $(DEST)/$(SYSROOT)

define configure_macro
	$(eval PROJ    = $(word $(1),$(PROJ_LIST)))
	$(eval TARGET  = $(word $(1),$(TARGET_LIST)))
	$(eval OPTS    = $(2))
	mkdir -p $(BUILD) && cd $(BUILD) && \
	../configure \
	  --target=$(TARGET) \
	  --prefix=$(PREFIX) \
	  --infodir=$(PREFIX)/share/doc/$(PROJ)/info \
	  --htmldir=$(PREFIX)/share/doc/$(PROJ)/html \
	  --pdfdir=$(PREFIX)/share/doc/$(PROJ)/pdf \
	  --enable-checking=yes \
	  --enable-languages=c,c++ \
	  --disable-libatomic \
	  --disable-libgomp \
	  --disable-libmudflap \
	  --disable-libquadmath \
	  --disable-libsanitizer \
	  --disable-libssp \
	  --enable-nls \
	  --enable-tls \
	  --with-pkgversion="$(PKGVER)" \
	  --with-python-dir=share/$(PROJ) \
	  --with-sysroot=$(SYSROOT) \
	  $(OPTS) \
	  CFLAGS_FOR_TARGET="-O2 -mcmodel=medany" \
	  CXXFLAGS_FOR_TARGET="-O2 -mcmodel=medany"
endef

define build_macro
	$(eval PROJ    = $(word $(1),$(PROJ_LIST)))
	$(eval TARGET  = $(word $(1),$(TARGET_LIST)))
	dh_auto_build -B$(BUILD) --parallel all
endef

define install_macro
	$(eval PROJ    = $(word $(1),$(PROJ_LIST)))
	$(eval TARGET  = $(word $(1),$(TARGET_LIST)))
	$(MAKE) -C $(BUILD) DESTDIR=$(DEST) install
	# move libcc1.so
	mkdir -p $(DESTPRE)/lib/gcc-cross/$(PROJ)/
	mv $(DESTPRE)/lib/libcc1.* \
	  $(DESTPRE)/lib/gcc-cross/$(PROJ)/
	# remove *.la
	find $(DEST)/ -name '*.la' -delete
	# gcc-doc-base provides man7
	# gcc-N-locales provides locales
	rm -rf \
	  $(DESTPRE)/share/man/man7 \
	  $(DESTPRE)/share/locale
endef

define shlibdeps_macro
	$(eval PROJ   = $(word $(1),$(PROJ_LIST)))
	$(eval TARGET = $(word $(1),$(TARGET_LIST)))
	dh_shlibdeps -l$(SDIR)/lib:$(SYSROOT)/lib:$(SYSROOT)/lib64/lp64d
endef

override_dh_auto_configure:
	$(call configure_macro,1,$(OPTS_GCC))
	$(call configure_macro,2,$(OPTS_GLIBC_GCC))
	$(call configure_macro,3,$(OPTS_MUSL_GCC))

override_dh_auto_build:
	$(call build_macro,1)
	$(call build_macro,2)
	$(call build_macro,3)

# Ignore tests
override_dh_auto_test:

override_dh_auto_install:
	$(call install_macro,1)
	$(call install_macro,2)
	$(call install_macro,3)

override_dh_strip:
	dh_strip -X.a -X.o -X.so

override_dh_shlibdeps:
	#$(#call shlibdeps_macro,2)
	#$(#call shlibdeps_macro,3)
