#!/usr/bin/make -f

%:
	PATH=$(PREFIX)/bin:$(PATH) \
	    dh $@

build_dir = build

PREFIX = /opt/riscv

PWD := $(shell pwd)
PKGVER := $(shell head -1 PKGVERSION)

OPTS_GCC = \
	--target=riscv64-unknown-elf \
	--enable-multilib \
	--disable-shared \
	--disable-threads \
	--with-native-system-header-dir=/include \
	--with-newlib \
	--with-sysroot=$(PREFIX)/riscv64-unknown-elf

OPTS_GLIBC_GCC = \
	--target=riscv64-unknown-linux-gnu \
	--enable-multilib \
	--enable-shared \
	--enable-threads \
	--with-sysroot=$(PREFIX)/sysroot

OPTS_MUSL_GCC = \
	--target=riscv64-unknown-linux-musl \
	--disable-multilib \
	--enable-shared \
	--enable-threads \
	--with-sysroot=$(PREFIX)/sysroot

define configure_macro
	$(eval PROJ = $(1))
	$(eval OPTS = $(2))
	mkdir -p $(build_dir)_$(PROJ) && \
	cd $(build_dir)_$(PROJ) && \
	../configure \
	  --prefix=$(PREFIX) \
	  --infodir=$(PREFIX)/share/doc/$(PROJ)/info \
	  --htmldir=$(PREFIX)/share/doc/$(PROJ)/html \
	  --pdfdir=$(PREFIX)/share/doc/$(PROJ)/pdf \
	  --enable-checking=yes \
	  --enable-languages=c,c++ \
	  --disable-libatomic \
	  --disable-libgomp \
	  --disable-libmudflap \
	  --disable-libquadmath \
	  --disable-libsanitizer \
	  --disable-libssp \
	  --enable-nls \
	  --enable-tls \
	  --with-pkgversion="$(PKGVER)" \
	  --with-python-dir=share/$(PROJ) \
	  $(OPTS) \
	  CFLAGS_FOR_TARGET="-O2 -mcmodel=medany" \
	  CXXFLAGS_FOR_TARGET="-O2 -mcmodel=medany"
endef

define build_macro
	$(eval PROJ = $(1))
	dh_auto_build -B$(build_dir)_$(PROJ) --parallel all
endef

define install_macro
	$(eval PROJ = $(1))
	$(eval DEST = $(PWD)/debian/$(PROJ))
	$(MAKE) -C $(build_dir)_$(PROJ) DESTDIR=$(DEST) install
	# move libcc1.so
	mkdir -p $(DEST)/$(PREFIX)/lib/gcc-cross/$(PROJ)/
	mv $(DEST)/$(PREFIX)/lib/libcc1.* \
	  $(DEST)/$(PREFIX)/lib/gcc-cross/$(PROJ)/
	# remove *.la
	find $(DEST)/ -name '*.la' -delete
	# gcc-doc-base provides man7
	# gcc-N-locales provides locales
	rm -rf \
	  $(DEST)/$(PREFIX)/share/man/man7 \
	  $(DEST)/$(PREFIX)/share/locale
endef

define shlibdeps_macro
	$(eval PROJ = $(1))
	$(eval DEST = $(PWD)/debian/$(PROJ))
	$(eval SDIR = $(DEST)/$(PREFIX)/$(2))
	$(eval SYSROOT = $(PREFIX)/sysroot)
	dh_shlibdeps -l$(SDIR)/lib:$(SYSROOT)/lib:$(SYSROOT)/lib64/lp64d
endef

override_dh_auto_configure:
	$(call configure_macro,riscv64-gcc,$(OPTS_GCC))
	$(call configure_macro,riscv64-linux-glibc-gcc,$(OPTS_GLIBC_GCC))
	$(call configure_macro,riscv64-linux-musl-gcc,$(OPTS_MUSL_GCC))

override_dh_auto_build:
	$(call build_macro,riscv64-gcc)
	$(call build_macro,riscv64-linux-glibc-gcc)
	#$(#call build_macro,riscv64-linux-musl-gcc)

# Ignore tests
override_dh_auto_test:

override_dh_auto_install:
	$(call install_macro,riscv64-gcc)
	$(call install_macro,riscv64-linux-glibc-gcc)
	#$(#call install_macro,riscv64-linux-musl-gcc)

override_dh_strip:
	dh_strip -X.a -X.o -X.so

override_dh_shlibdeps:
	#$(#call shlibdeps_macro,riscv64-linux-glibc-gcc,riscv64-unknown-linux-gnu)
	#$(#call shlibdeps_macro,riscv64-linux-musl-gcc,riscv64-unknown-linux-musl)
