#!/usr/bin/make -f

%:
	PATH=$(PREFIX)/bin:$(PATH) \
	    dh $@

build_dir = build

PREFIX = /opt/riscv

PWD := $(shell pwd)
PKGVER := $(shell head -1 PKGVERSION)

OPTS_GCC = \
	--target=riscv64-unknown-elf \
	--with-sysroot=$(PREFIX)/riscv64-unknown-elf

OPTS_GLIBC_GCC = \
	--target=riscv64-unknown-linux-gnu \
	--with-sysroot=$(PREFIX)/sysroot

OPTS_MUSL_GCC = \
	--target=riscv64-unknown-linux-musl \
	--with-sysroot=$(PREFIX)/sysroot

define configure_macro
	$(eval PROJ = $(1))
	$(eval OPTS = $(2))
	mkdir -p $(build_dir)_$(PROJ) && \
	cd $(build_dir)_$(PROJ) && \
	../configure \
	  --prefix=$(PREFIX) \
	  --infodir=$(PREFIX)/share/doc/$(PROJ)/info \
	  --htmldir=$(PREFIX)/share/doc/$(PROJ)/html \
	  --pdfdir=$(PREFIX)/share/doc/$(PROJ)/pdf \
	  --enable-checking=yes \
	  --enable-languages=c \
	  --disable-libatomic \
	  --disable-libgomp \
	  --disable-libmudflap \
	  --disable-libquadmath \
	  --disable-libssp \
	  --enable-multilib \
	  --disable-nls \
	  --disable-shared \
	  --disable-threads \
	  --enable-tls \
	  --with-newlib \
	  --with-pkgversion="$(PKGVER)" \
	  --with-system-zlib \
	  $(OPTS) \
	  CFLAGS_FOR_TARGET="-Os -mcmodel=medany" \
	  CXXFLAGS_FOR_TARGET="-Os -mcmodel=medany"
endef

define build_macro
	$(eval PROJ = $(1))
	dh_auto_build -B$(build_dir)_$(PROJ) --parallel -- all-gcc
	dh_auto_build -B$(build_dir)_$(PROJ) --parallel -- all-target-libgcc
endef

define install_macro
	$(eval PROJ = $(1))
	$(MAKE) -C $(build_dir)_$(PROJ) DESTDIR=$(PWD)/debian/$(PROJ) install-gcc
	$(MAKE) -C $(build_dir)_$(PROJ) DESTDIR=$(PWD)/debian/$(PROJ) install-target-libgcc
	# gcc-doc-base provides man7
	rm -rf \
	  $(PWD)/debian/$(PROJ)/$(PREFIX)/share/man/man7
endef

override_dh_auto_configure:
	$(call configure_macro,riscv64-gcc-stage1,$(OPTS_GCC))
	$(call configure_macro,riscv64-linux-glibc-gcc-stage1,$(OPTS_GLIBC_GCC))
	$(call configure_macro,riscv64-linux-musl-gcc-stage1,$(OPTS_MUSL_GCC))

override_dh_auto_build:
	$(call build_macro,riscv64-gcc-stage1)
	$(call build_macro,riscv64-linux-glibc-gcc-stage1)
	$(call build_macro,riscv64-linux-musl-gcc-stage1)

# Ignore tests
override_dh_auto_test:

override_dh_auto_install:
	$(call install_macro,riscv64-gcc-stage1)
	$(call install_macro,riscv64-linux-glibc-gcc-stage1)
	$(call install_macro,riscv64-linux-musl-gcc-stage1)

override_dh_strip:
	dh_strip -X.a -X.o
