#!/usr/bin/make -f

%:
	PATH=$(PREFIX)/bin:$(PATH) \
	    dh $@

BUILD_BASE = build
PREFIX_BASE = /opt/riscv

PWD := $(shell pwd)
PKGVER := $(shell head -1 PKGVERSION)

PROJ_LIST   ?= riscv64-gcc-stage1 riscv64-linux-glibc-gcc-stage1 riscv64-linux-musl-gcc-stage1
TARGET_LIST ?= riscv64-unknown-elf riscv64-unknown-linux-gnu riscv64-unknown-linux-musl

OPTS_GCC =
OPTS_GLIBC_GCC =
OPTS_MUSL_GCC =

BUILD   = $(BUILD_BASE)_$(PROJ)
PREFIX  = $(PREFIX_BASE)
SYSROOT = $(PREFIX_BASE)/$(TARGET)/sysroot
DEST    = $(PWD)/debian/$(PROJ)
DESTPRE = $(DEST)/$(PREFIX)
DESTSYS = $(DEST)/$(SYSROOT)

define configure_macro
	$(eval PROJ    = $(word $(1),$(PROJ_LIST)))
	$(eval TARGET  = $(word $(1),$(TARGET_LIST)))
	$(eval OPTS    = $(2))
	mkdir -p $(BUILD) && cd $(BUILD) && \
	../configure \
	  --target=$(TARGET) \
	  --prefix=$(PREFIX) \
	  --infodir=$(PREFIX)/share/doc/$(PROJ)/info \
	  --htmldir=$(PREFIX)/share/doc/$(PROJ)/html \
	  --pdfdir=$(PREFIX)/share/doc/$(PROJ)/pdf \
	  --enable-checking=yes \
	  --enable-languages=c \
	  --disable-libatomic \
	  --disable-libgomp \
	  --disable-libmudflap \
	  --disable-libquadmath \
	  --disable-libssp \
	  --enable-multilib \
	  --disable-nls \
	  --disable-shared \
	  --disable-threads \
	  --enable-tls \
	  --with-newlib \
	  --with-pkgversion="$(PKGVER)" \
	  --with-sysroot=$(SYSROOT) \
	  --with-system-zlib \
	  $(OPTS) \
	  CFLAGS_FOR_TARGET="-Os -mcmodel=medany" \
	  CXXFLAGS_FOR_TARGET="-Os -mcmodel=medany"
endef

define build_macro
	$(eval PROJ   = $(word $(1),$(PROJ_LIST)))
	$(eval TARGET = $(word $(1),$(TARGET_LIST)))
	dh_auto_build -B$(BUILD) --parallel -- all-gcc
	dh_auto_build -B$(BUILD) --parallel -- all-target-libgcc
endef

define install_macro
	$(eval PROJ   = $(word $(1),$(PROJ_LIST)))
	$(eval TARGET = $(word $(1),$(TARGET_LIST)))
	$(MAKE) -C $(BUILD) DESTDIR=$(DEST) install-gcc
	$(MAKE) -C $(BUILD) DESTDIR=$(DEST) install-target-libgcc
	# gcc-doc-base provides man7
	rm -rf \
	  $(DESTPRE)/share/man/man7
endef

override_dh_auto_configure:
	$(call configure_macro,1,$(OPTS_GCC))
	$(call configure_macro,2,$(OPTS_GLIBC_GCC))
	$(call configure_macro,3,$(OPTS_MUSL_GCC))

override_dh_auto_build:
	$(call build_macro,1)
	$(call build_macro,2)
	$(call build_macro,3)

# Ignore tests
override_dh_auto_test:

override_dh_auto_install:
	$(call install_macro,1)
	$(call install_macro,2)
	$(call install_macro,3)

override_dh_strip:
	dh_strip -X.a -X.o
